/* src/Components/Home.css */
.home h1,
.home h2,
.home h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.skill-card {
  padding: 0.5rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05); /* Light glass effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
   position: relative;
  z-index: 1;

  /* Glow Shadow */
  box-shadow:
    0 0 15px rgba(0, 255, 255, 0.2),
    0 0 30px rgba(0, 255, 255, 0.15),
    0 0 60px rgba(0, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skills-wrapper {
  background: linear-gradient(
    135deg,
    rgba(255, 0, 150, 0.2),
    rgba(0, 255, 255, 0.2),
    rgba(0, 255, 0, 0.2)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 0.8rem;
  z-index: 1;
  position: relative;
}



.skill-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 25px rgba(0, 255, 255, 0.35),
    0 0 45px rgba(0, 255, 255, 0.2);
}


.home .btn-outline-light {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border: none;
  color: white;

}
.home .btn-outline-light:hover{
    color: black;
}
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-load {
  animation: fadeSlideIn 1.2s ease-out forwards; /* <-- 🔥 THIS is key */
}

.animated-text {
  opacity: 0; /* Start invisible */
}
.glow-grad {
 
  background: linear-gradient(
    90deg,
    rgba(255, 0, 150, 0.4),
    rgba(0, 255, 255, 0.3),
    rgba(0, 255, 0, 0.4)
  );
  filter: blur(9px);
  z-index: 0;
  opacity: 1;
}

.glow-box {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 0 10px rgba(0, 255, 255, 0.6),
    0 0 20px rgba(0, 255, 255, 0.5),
    0 0 30px rgba(0, 255, 255, 0.4);
  border-radius: 30px;
 padding: 20px 0;
  backdrop-filter: blur(10px);
}


